<ion-header>

    <ion-navbar>
        <ion-title text-center>Reservas</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="closeModal()">
              <span ion-text></span>
              <ion-icon name="close-circle"></ion-icon>
            </button>
          </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item *ngFor="let item of itemBar">
      <ion-row>
        <ion-avatar>
          <img [src]="item.img">
        </ion-avatar>
        <ion-col>
            <h2> {{item.name}} </h2>
            <h2> {{item.address}} </h2>
        </ion-col>
        <!-- <ion-col col-8 offset-1>
        </ion-col> -->
        <!-- <h2 item-content> {{item.name}} </h2> -->
      </ion-row>
    </ion-item>  

    
    <ion-list-header text-center>
        Reservas
      </ion-list-header>
  <ion-list *ngFor="let item of list;let i = index">    
    <ion-item>
      <ion-icon name="ios-beer-outline" item-left large ></ion-icon>
      <h2 item-start>{{item.mesa}}</h2>
      <!-- <div item-end *ngIf="state; then checked="true" ">{{item.estado[0].state}}</div> -->
      <p item-end>{{item.estado[0].state}}</p>
      <!-- <ion-toggle></ion-toggle> -->
      <!-- <ion-toggle color="secondary" checked="true" 
                  (ionChange)="checkReservas()"
                  [(ngModel)]="reservasCheck">
      </ion-toggle> -->
      <!-- <ion-label item-end>{{item.estado[0].state}}</ion-label> -->
      <ion-toggle [checked]="item.checked"
                  [(ngModel)]="item.checked"
                  (ionChange)="checkReservas(item.checked,item,i)"
                  [disabled]="item.checked">
      </ion-toggle>
    </ion-item>
    <!-- <ion-item>
    </ion-item> -->
  </ion-list>
</ion-content>
