page-home {

    .content-md {
        color: #000;
        background-color: #4A4B56;
    }

    .toolbar-background-md {
        border-color: #4A4B56;
        background: #4A4B56;
    }

    .toolbar-title-md {
        color: #dedede;
    }
}
