<ion-header>

  <ion-navbar>
    <ion-title text-center>Comentarios</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
          <span ion-text></span>
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
        <ion-item>
            <ion-avatar item-start>
              <img [src]="datosRecibidos.img">
            </ion-avatar>
            <h2>{{datosRecibidos.name}}</h2>
        </ion-item>
      
      <ion-row>
        <ion-col text-center>
          
          <rating [(ngModel)]="rate"
                  readOnly="false"
                  max="5"
                  emptyStarIconName="star-outline"
                  halfStarIconName="star-half"
                  starIconName="star"
                  nullable="false"
                  (ngModelChange)="onModelChange($event)"> 
          </rating>
        </ion-col> 
      </ion-row>
      <p text-center>{{valor}}</p>


        <ion-item no-lines>
            <ion-textarea placeholder="Deje Su Comentario."
                          text-center
                          [(ngModel)]="comment">
            </ion-textarea> 
          </ion-item>
          <ion-row text-right>
            <ion-col>
              <button ion-button small clear (click)="calification(rate,comment)">Enviar</button>
            </ion-col>
          </ion-row>
        
          <!-- <button ion-button item-end>Button</button>          -->
          <!-- <ion-item-divider>
              Item Divider
              <button ion-button item-end>Button</button>
            </ion-item-divider> -->
  </ion-item>

    <ion-list *ngIf="datosRecibidos">
        <!-- <ion-item>
          <ion-avatar item-start>
            <img [src]="datosRecibidos.img">
          </ion-avatar>
          <h2>{{datosRecibidos.name}}</h2>
        </ion-item> -->
        <ion-item *ngFor="let comt of datosRecibidos['comments']" text-wrap>
            {{comt.comment}}
        </ion-item>
    </ion-list>
   


    <!-- <ion-list *ngFor="let comt of comments">
      <ion-list-header text-center>
        Listado
      </ion-list-header>
      {{comt.name}}
      <ion-item-group>
        <ion-item  text-wrap>
          {{comt.comments[0].comment}}
        </ion-item>
      </ion-item-group>
    </ion-list> -->
</ion-content>
